.homeAboutContainer {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  width: 90%;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.sectionHeading {
  font-size: 2rem;
}

.borderTop {
  border-top: 4px dashed #ff0202;
  width: 70%;
}

.sectionDescription {
  font-weight: 500;
  line-height: 1.3rem;
}

.reasonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.reasonCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.checkMark {
  color: #ff0202;
  font-size: 1.5rem;
}

.reasonText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
}

.reasonName {
  font-weight: 600;
  font-size: 1rem;
}

.reasonDescription {
  color: #807d7d;
  line-height: 1.3rem;
  font-size: 0.9rem;
  font-weight: 500;
}
