.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecffdc;
  width: 100%;
  padding: 1.5% 5%;
}

.pageHeading {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.navText {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.text,
.directionText {
  font-size: 0.8rem;
  font-weight: 500;
  color: #585858;
}

.currentPage {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.8rem;
}
