.pageWelcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  align-items: center;
  gap: 4rem;
  background-image: url('../../assets/blot-red-paint-water.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.welcomText,
.sectionDescription {
  width: 60%;
  text-align: center;
}

.welcomText {
  font-size: 2rem;
  font-weight: 700;
}

.borderTop {
  border-top: 4px dashed #dfff00;
  width: 10rem;
}

.sectionDescription {
  font-weight: 500;
}

.appointmentBtn {
  text-decoration: none;
  background-color: #dfff00;
  color: #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  cursor: pointer;
}

.appointmentBtn:hover {
  background-color: #ffbf00;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1024px) {
  .welcomText,
  .sectionDescription {
    width: 80%;
  }

  .sectionDescription {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .welcomText,
  .sectionDescription {
    width: 90%;
  }

  .welcomText {
    font-size: 1.8rem;
    font-weight: 700;
  }
}
