.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  color: #141c42;
  z-index: 10;
}

.redLogo {
  color: #bb2121;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}

.header nav a {
  color: #141c42;
  font-weight: 600;
  font-size: 0.8rem;
  text-decoration: none;
}

.active {
  color: #3e51b3 !important;
}

.closeMobileNav,
.openMobileNav {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #141c42;
  font-size: 1.8rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    justify-content: flex-end;
    gap: 4rem;
    padding: 0 5%;
  }

  .logo {
    position: absolute;
    left: 1rem;
  }

  .closeMobileNav,
  .openMobileNav {
    display: block;
  }

  nav .closeMobileNav {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }

  .header nav a {
    font-size: 1rem;
    font-weight: 600;
    color: #141c42;
    text-transform: uppercase;
  }
}
