.footer {
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100;
  background-color: #141c42;
  color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.footerText {
  font-size: 0.85rem;
}

.socialLinksCont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 5rem;
    gap: 0.5rem;
    padding: 2rem 0;
  }

  .footerText {
    text-align: center;
  }
}
